.panel.panel-default
  .panel-body
    %form{action: 'story.epub', method: 'post'}
      .row
        .col-sm-9
          .input-group
            %span.input-group-addon Url:
            %input.form-control{autofocus: true, name: 'url', placeholder: 'https://www.fanfiction.com/s/#story_id', required: true}

        .col-sm-3
          %button.btn.btn-primary.btn-block{type: 'submit'}
            %span.glyphicon.glyphicon-download
            Download ePub

  .list-group.text-center
    %a.list-group-item(href='/feed') Feed
