.panel.panel-default
  .panel-body
    %form(action='story.epub' method='post')
      .row
        .col-sm-9
          .input-group
            %span.input-group-addon Url:
            %input.form-control(name='url' placeholder='https://www.fanfiction.com/s/#story_id' required='true' autofocus)

        .col-sm-3
          %button.btn.btn-primary.btn-block(type='submit')
            %span.glyphicon.glyphicon-download
            Download ePub

    %br

    %form(action='https://www.fanfiction.net/search.php' method='get' target='_blank')
      %input(type='hidden' name='type' value='story')
      %input(type='hidden' name='match' value='title')
      %input(type='hidden' name='categoryid' value='10896')
      %input(type='hidden' name='ready' value='1')
      .row
        .col-sm-9
          .input-group
            %span.input-group-addon Story title:
            %input.form-control(name='keywords' placeholder='Frozen' required)

        .col-sm-3
          %button.btn.btn-primary.btn-block(type='submit')
            %span.glyphicon.glyphicon-download
            Search Frozen category
